$header_background: #3b2d1b;
$header_border: #796342;

$primary_background: #1D1D1D;
$primary_text: #e1d6be;

$secondary_text: #e1d6be;

$nav_hover: #fff;
$nav_text: #e1d6be;
$nav_separator: #494573;
$account_nav_bg: rgba(110,110,110,0.3);

$flash_notice_bg: #040;
$flash_alert_bg: #8F0606;
$flash_text: #fff;

$form_background: #3b2d1b;
$form_input: #fff;
$form_highlight: #d2e8d3;
$form_gradient_top: #a48f69;
$form_gradient_bottom: #796342;
$form_links: #cebf9f;