@import "compass/reset";
@import 'colours';
@include reset-html5;

body {
  background: $primary_background;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: $primary_text;
}

#header_container, section, footer {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

section {
  margin-top: 10px;
}

ul.features {
  padding-top: 1em;
  li {
    padding-bottom: 2em;
    border-bottom: 2px solid $header_border;
    margin-bottom: 2em;
    img { float: left;}
    h2 { font-size: 18pt; margin-bottom: 1em; }
    h2, p { margin-left: 156px; }
  }
}