.private_beta
  %h2 One timesheeting application to rule them all.
  %p
    Graveyard is in private beta at the moment.
    Register your email below for an invitation.

  = semantic_form_for BetaInterest.new, :url => register_interest_welcome_index_path, :html => { :method => :post } do |f|
    = f.inputs do
      = f.input :email, :input_html => { :type => :email, :placeholder => 'Email' }, :label => false

    = f.submit "Submit"
